<?xml version="1.0"?>
<robot name="waverover">

    <material name="black_color">
        <color rgba="0.1 0.1 0.1 1"/>    
    </material>

    <material name="gray">
        <color rgba="0.6 0.6 0.6 1"/>
    </material>

    <material name="white">
        <color rgba="1 1 1 1"/>
    </material>

    <link name="base">
        <visual>
            <geometry>
                <box size="1.0 0.7 0.2"/> </geometry>
            <origin xyz="0 0 0.4" rpy="0 0 0"/>
            <material name="black_color"/>
        </visual>        
    </link>
    
    <link name="wheel1">
        <visual>
            <geometry>
                <cylinder length="0.1" radius="0.2"/>
            </geometry>
            <origin xyz="0 0 0.2" rpy="1.5707 0 0"/>
            <material name="white"/>
        </visual>        
    </link>

    <link name="wheel2">
        <visual>
            <geometry>
                <cylinder length="0.1" radius="0.2"/>
            </geometry>
            <origin xyz="0 0 0.2" rpy="1.5707 0 0"/>
            <material name="white"/>
        </visual>        
    </link>

    <link name="wheel3">
        <visual>
            <geometry>
                <cylinder length="0.1" radius="0.2"/>
            </geometry>
            <origin xyz="0 0 0.2" rpy="1.5707 0 0"/>
            <material name="white"/>
        </visual>        
    </link>

    <link name="wheel4">
        <visual>
            <geometry>
                <cylinder length="0.1" radius="0.2"/>
            </geometry>
            <origin xyz="0 0 0.2" rpy="1.5707 0 0"/>
            <material name="white"/>
        </visual>        
    </link>

    <link name="lidar_base">
        <visual>
            <geometry>
                <box size="0.33 0.25 0.10"/> </geometry>
            <origin xyz="0 0 0.4" rpy="0 0 0"/>
            <material name="gray"/>
        </visual>       
    </link>


    <link name="lidar">
        <visual>
            <geometry>
                <cylinder length="0.05" radius="0.1"/>
            </geometry>
            <origin xyz="0 0 0.4" rpy="0 0 0"/>
            <material name="gray"/>
        </visual>        
    </link>


    <joint name="joint_wheel1" type="continuous">
        <parent link="base"/>
        <child link="wheel1"/>
        <origin xyz="0.3 0.4 0" rpy="0 0 0"/> <axis xyz="0 1 0"/> 
    </joint>

    <joint name="joint_wheel2" type="continuous">
        <parent link="base"/>
        <child link="wheel2"/>
        <origin xyz="0.3 -0.4 0" rpy="0 0 0"/> 
        <axis xyz="0 1 0"/>
    </joint>

    <joint name="joint_wheel3" type="continuous">
        <parent link="base"/>
        <child link="wheel3"/>
        <origin xyz="-0.3 0.4 0" rpy="0 0 0"/> 
        <axis xyz="0 1 0"/>
    </joint>

    <joint name="joint_wheel4" type="continuous">
        <parent link="base"/>
        <child link="wheel4"/>
        <origin xyz="-0.3 -0.4 0" rpy="0 0 0"/> 
        <axis xyz="0 1 0"/>
    </joint>
    <joint name="joint_base_lidar" type="fixed">
        <parent link="base"/>
        <child link="lidar_base"/>
        <origin xyz="0 0 0.1" rpy="0 0 0"/> 
        <axis xyz="0 0 0"/>
    </joint>
    <joint name="joint_lidar" type="fixed">
        <parent link="lidar_base"/>
        <child link="lidar"/>
        <origin xyz="0 0 0.1" rpy="0 0 0"/> 
        <axis xyz="0 0 0"/>
    </joint>
    

</robot>